h1 {
  color: white;
  margin-right: 2rem;
}

p {
  text-align: left;
  width: 100%;
}

h5 {
  color: white;
  text-align: left;
  width: 100%;
}

body {
  background-color: rgb(82, 109, 130);
}

.ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.poster {
  width: 33%;
}

img {
  width: 100%;
}

.w-t {
  color: white;
}

.input {
  width: 100%;
  margin-top: 1rem;
}

.header {
  background-color: rgb(39, 55, 77);
}

.a-center {
  display: flex;
  align-items: center;
}

.j-end {
  justify-content: flex-end;
}

.j-center {
  justify-content: center;
}

.j-start {
  justify-content: flex-start;
}

.j-b {
  justify-content: space-between;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(82, 109, 130);
}

.row {
  width: 100%;
  flex-direction: row;
}

.card {
  background-color: rgb(39, 55, 77);
  border-radius: 5px;
  margin: 0.25rem 0;
}

.nav {
  gap: 0.5rem;
}
